@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 80px;
    background-color: #dcdde1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.header .logo img {
    width: 100px;
    height: auto;
    margin-left: 1rem;
    transform: scale(0.7);
    transition: 0.3s;
}

.header .listheadermenu ul {
    display: flex;
    list-style: none;
    transition: 0.3s;
}

.header .listheadermenu ul li {
    transition: 0.3s;
    padding: 10px;
}

.header .listheadermenu ul li a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.3s;
}

.header .listheadermenu ul li:hover {
    transition: 0.3s;
    transform: translateY(-20px);
}


/* ======= Search Box Styling */

.header .searchBox input {
    padding: 13px 80px 13px 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.header .searchBox input:focus {
    transition: 0.2s;
    transition: 0.3s;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.header .searchBox input::placeholder {
    font-family: sans-serif;
    transition: 0.3s;
    color: rgba(127, 143, 166, 1.0);
}

.header .searchBox .btn {
    background-color: rgba(25, 42, 86, 1.0);
    color: white;
    font-weight: bolder;
    font-size: 15px;
    display: inline;
    align-items: center;
    width: 100px;
    height: 33px;
    border-radius: 4px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.header .searchBox .btn:hover {
    transition: 0.3s;
    transition: 0.3s;
    transform: skewy(10deg)
}


/* Header Middle  */

header {
    position: relative;
    background-image: url(../images/HeaderBigWater.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

header .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header-container .left-content {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

header .header-container .left-content img {
    width: 150px;
    margin: 20px;
}

header .header-container .left-content h1 {
    font-size: 50px;
    margin: 20px;
}

header .header-container .left-content p {
    font-size: 26px;
    width: 700px;
    margin: 20px;
}

header .header-container .left-content a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    background-color: white;
    margin: 10px;
    color: black;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s;
}

header .header-container .left-content a:hover {
    background: none;
    border: 1px solid white;
    transition: 0.4s ease-out;
    color: white;
}

header .header-container .left-content a:nth-child(2) {
    background: none;
    border: 1px solid white;
    color: white;
}

header .header-container .left-content a:nth-child(2):hover {
    background: white;
    border: 1px solid transparent;
    color: black;
    transition: 0.4s ease-in;
}


/* ============== Watch Material Styling ===========  */

.watchmaterial {
    width: 100%;
    background-color: rgba(133, 147, 161, 0.3);
}

.watchmaterial .material-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.watchmaterial .material-container img {
    width: 100%;
    margin-left: -300px;
}

.watchmaterial .material-container .rightmaterialcontent {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.watchmaterial .material-container .rightmaterialcontent h1 {
    font-size: 60px;
    color: rgba(87, 101, 116, 1.0);
    margin-bottom: 30px;
}

.watchmaterial .material-container .rightmaterialcontent p {
    font-size: 20px;
    color: rgba(87, 101, 116, 1.0);
    font-family: 'Roboto Slab', serif;
    margin-bottom: 30px;
}


/* Watch Features ==================> */

.Watchfeatures {
    width: 100%;
    height: 170vh;
}

.Watchfeatures .features-container {
    width: 100%;
    height: 100%;
}

.Watchfeatures .features-container .Topimage {
    padding: 20px;
    width: 90%;
    height: auto;
}

.Watchfeatures .features-container .bottom-contents {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Watchfeatures .features-container .bottom-contents h1 {
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    color: rgba(34, 47, 62, 1.0);
    padding: 50px;
}

.Watchfeatures .features-container .bottom-contents p {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    color: rgba(34, 47, 62, 1.0);
    width: 800px;
    margin-top: 30px;
}


/* ============================= Pricing Watch Series  ==========> */

.seriesprice {
    width: 100%;
    height: 100vh;
}

.seriesprice .pricecontainer {
    width: 100%;
    height: 100%;
}

.seriesprice .pricecontainer .BlueWatch {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.seriesprice .pricecontainer .BlueWatch img {
    width: 100%;
    height: 100%;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content {
    position: relative;
    padding: 10px;
    text-align: start;
    z-index: 1;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content h1 {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content p {
    position: relative;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
    line-height: 30px;
    font-weight: 700;
    padding: 20px 10px 20px 10px;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content .bluebuy {
    position: relative;
    width: 50%;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    overflow: hidden;
    z-index: -1;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content .bluebuy h1 {
    margin-top: 100px;
    font-size: 22px;
    font-family: sans-serif;
    transition: 0.5s;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content .bluebuy::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    transition: 0.4s;
    background: rgba(0, 151, 230, 0.8);
    top: 0%;
    left: 0%;
    border-radius: 30px;
    z-index: -1;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content .bluebuy:hover::before {
    width: 100%;
    transition: 0.4s;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content .bluebuy::after {
    content: 'RS 45,000';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0%;
    font-size: 20px;
    z-index: -1;
    transition: 0.5s;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content .bluebuy:hover::after {
    margin-top: -100px;
    transition: 0.5s;
}

.seriesprice .pricecontainer .BlueWatch .bluewatch_content .bluebuy:hover h1 {
    margin-top: 0px;
    transform: scale(1);
    transition: 0.5s;
}


/* ======================<<< Watch Activities >>>=============)  */

.activity {
    position: relative;
    width: 100%;
    height: 100vh;
}

.activity .ac-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.activity .ac-container h1 {
    padding: 10px 40px;
    width: 550px;
    height: auto;
    font-size: 60px;
    color: #57606f;
}

.activity .ac-container .bottom-three {
    width: 100%;
    height: 100%;
    display: flex;
}


/* ===== Ring Watch ==========> */

.activity .ac-container .bottom-three .ring-watch {
    width: 30%;
    height: auto;
    padding: 20px;
}

.activity .ac-container .bottom-three .ring-watch .ring-content p {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
}

.activity .ac-container .bottom-three .ring-watch .ring-content p .ring-highlight {
    color: black;
}


/* ========== Sharing Watch ================> */

.activity .ac-container .bottom-three .sharing-watch {
    width: 30%;
    height: auto;
    padding: 20px;
}

.activity .ac-container .bottom-three .sharing-watch .sharing-content p {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
}

.activity .ac-container .bottom-three .sharing-watch .sharing-content p .sharing-highlight {
    color: black;
}


/* ========== competition Watch ================> */

.activity .ac-container .bottom-three .competition-watch {
    width: 30%;
    height: auto;
    padding: 20px;
}

.activity .ac-container .bottom-three .competition-watch .competition-content p {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
}

.activity .ac-container .bottom-three .competition-watch .competition-content p .competition-highlight {
    color: black;
}


/* ------------------------------------------------------------ */


/* ====== Lets Make it responsive for all devices
*/

@media screen and (max-width:1100px) {
    header img {
        height: 120vh;
    }
    .header .listheadermenu ul li {
        transition: 0.3s;
        padding: 3px;
    }
    header .right-img,
    header .left-content {
        width: 50%;
        transition: 0.3s;
    }
    header .left-content a {
        transition: 0.3s;
        margin: 30px 10px;
        padding: 10px;
    }
    header .left-content p {
        transition: 0.3s;
        width: auto;
    }
    .Watchfeatures {
        width: 100%;
        height: auto;
    }
    .activity .ac-container .bottom-three {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
    }
    .activity .ac-container .bottom-three .competition-watch {
        width: 50%;
    }
    .Watchfeatures .features-container .Topimage img {
        width: 100%;
    }
    .seriesprice {
        height: auto;
    }
    .seriesprice .pricecontainer .BlueWatch {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Watchfeatures .features-container .bottom-contents p {
        width: 60%;
    }
    .watchmaterial .material-container {
        height: auto;
    }
    .watchmaterial .material-container {
        display: flex;
        flex-direction: column;
    }
    .watchmaterial .material-container .rightmaterialcontent h1 {
        font-size: 3rem;
    }
    header .header-container .left-content img {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:860px) {
    header {
        height: 100vh;
    }
    .header .listheadermenu ul li {
        transition: 0.3s;
        padding: 3px;
    }
    .header .searchBox input {
        padding: 13px 50px 13px 5px;
    }
    header .left-content a {
        transition: 0.3s;
        margin: 30px 10px;
        padding: 10px;
    }
    .header .logo img {
        transition: 0.3s;
        width: 60px;
        height: auto;
    }
    header .left-content p {
        transition: 0.3s;
        width: auto;
    }
}

@media screen and (max-width:816px) {
    .header .listheadermenu ul li {
        transition: 0.3s;
        padding: 3px;
    }
    header .right-img,
    header .left-content {
        transition: 0.3s;
        width: 100%;
    }
    header .right-img {
        position: absolute;
        top: 106%;
        display: flex;
        align-items: center;
        height: 480px;
    }
    header .right-img img {
        height: 480px;
    }
    header .left-content {
        transition: 0.3s;
        top: 70%;
    }
    header .left-content a {
        transition: 0.3s;
        margin: 30px 10px;
        padding: 10px;
        font-size: 15px;
    }
    header .left-content p {
        width: 100px;
        font-size: 1.9rem;
    }
    .header .logo img {
        transition: 0.3s;
        width: 100px;
        height: auto;
    }
    .header {
        transition: 0.3s;
        height: 400px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .header .left-content h1 {
        font-size: 50px;
    }
    .header .left-content p {
        font-size: 18px;
    }
    .header {
        position: inherit;
    }
    .header .logo {
        transition: 0.3s;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .listheadermenu {
        transition: 0.3s;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .listheadermenu ul {
        transition: 0.3s;
        display: block;
    }
    .header .listheadermenu ul li {
        transition: 0.3s;
        padding: 15px;
    }
    .header .searchBox {
        transition: 0.3s;
        display: none;
    }
    header .left-content p {
        transition: 0.3s;
        width: auto;
    }
    .header .listheadermenu ul li:hover {
        transition: 0.3s;
        transform: translateX(-20px);
    }
    .activity .ac-container .bottom-three .ring-watch {
        padding: 10px;
    }
    .activity .ac-container .bottom-three .sharing-watch {
        padding: 10px;
    }
    .activity .ac-container .bottom-three .competition-watch {
        padding: 10px;
    }
    .activity .ac-container .bottom-three img {
        width: 70%;
    }
    .Watchfeatures .features-container .bottom-contents p {
        margin-bottom: 20px;
    }
    header {
        height: 120vh;
    }
    header .header-container .left-content h1 {
        font-size: 4rem;
    }
    header .header-container .left-content p {
        width: 500px;
    }
    .Watchfeatures .features-container .bottom-contents p {
        margin-bottom: 50px;
    }
    .Watchfeatures .features-container .bottom-contents h1 {
        margin-top: 30px;
        font-size: 2.3rem;
    }
    .activity .ac-container h1 {
        width: 300px;
        font-size: 3rem;
    }
}


/* =============== 600px resolution =====> */

@media screen and (max-width:600px) {
    .header .listheadermenu ul li {
        transition: 0.3s;
        padding: 3px;
    }
    header .right-img,
    header .left-content {
        transition: 0.3s;
        width: 100%;
    }
    header .right-img {
        position: absolute;
        top: 106%;
        display: flex;
        align-items: center;
        height: 480px;
    }
    header .right-img img {
        height: 480px;
    }
    header .left-content {
        transition: 0.3s;
        top: 70%;
    }
    header .left-content a {
        transition: 0.3s;
        margin: 30px 10px;
        padding: 10px;
        font-size: 15px;
    }
    header .header-container .left-content p {
        width: 530px;
        font-size: 1.2rem;
    }
    .header .logo img {
        transition: 0.3s;
        width: 100px;
        height: auto;
    }
    .header {
        transition: 0.3s;
        height: 400px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .header .left-content h1 {
        font-size: 50px;
    }
    .header .left-content p {
        font-size: 18px;
    }
    .header {
        position: inherit;
    }
    .header .logo {
        transition: 0.3s;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .listheadermenu {
        transition: 0.3s;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .listheadermenu ul {
        transition: 0.3s;
        display: block;
    }
    .header .listheadermenu ul li {
        transition: 0.3s;
        padding: 15px;
    }
    .header .searchBox {
        transition: 0.3s;
        display: none;
    }
    header .left-content p {
        transition: 0.3s;
        width: auto;
    }
    .header .listheadermenu ul li:hover {
        transition: 0.3s;
        transform: translateX(-20px);
    }
    .activity .ac-container .bottom-three .ring-watch {
        padding: 10px;
    }
    .activity .ac-container .bottom-three .sharing-watch {
        padding: 10px;
    }
    .activity .ac-container .bottom-three .competition-watch {
        padding: 10px;
    }
    .activity .ac-container .bottom-three img {
        width: 70%;
    }
    .Watchfeatures .features-container .bottom-contents p {
        margin-bottom: 50px;
    }
    .Watchfeatures .features-container .bottom-contents h1 {
        margin-top: 30px;
        font-size: 2.3rem;
    }
    .activity .ac-container h1 {
        width: 300px;
        font-size: 3rem;
    }
}

@media screen and (max-width:560px) {
    header .header-container .left-content {
        width: 70%;
    }
    header .header-container .left-content p {
        width: 400px;
        font-size: 1.2rem;
    }
    .watchmaterial .material-container .rightmaterialcontent h1 {
        font-size: 1.6rem;
    }
    .watchmaterial .material-container .rightmaterialcontent p {
        font-size: 1rem;
        width: 80%;
    }
    .watchmaterial .material-container .rightmaterialcontent {
        width: 400px;
    }
    header .header-container .left-content h1 {
        font-size: 3rem;
    }
    header .header-container .left-content a {
        padding: 10px 15px;
    }
    header .header-container .left-content {
        padding-bottom: 30px;
    }
}


/* =========== 474px resolution =====> */

@media screen and (max-width:460px) {
    header .header-container .left-content a {
        font-size: 16px;
        padding: 10px 12px;
    }
    header {
        height: 120vh;
    }
    header .header-container .left-content h1 {
        font-size: 2rem;
    }
    header .header-container .left-content p {
        width: 250px;
    }
}


/* =========== 400px resolution =====> */

@media screen and (max-width:400px) {
    header .header-container .left-content a {
        font-size: 14px;
        padding: 10px 12px;
    }
    header {
        height: 120vh;
    }
    header .header-container .left-content h1 {
        font-size: 2rem;
    }
    header .header-container .left-content p {
        width: 250px;
    }
}